.sidebar-container
    .sidebar-nav
        ul.nav
            li
                a(href="./areas.html") Areas
            li
                a(href="./courses.html") Courses
            li
                a(href="./blogs.html") Blogs
            li
                a(href="./route-courses.html") Route courses
            li
                a(href="./events-edition.html") Events edition
            li
                a(href="./routes.html") Routes
            li
                a(href="./spaces.html") Spaces
            li
                a(href="./events.html") Events
            li
                a(href="./courses-edition.html") Courses edition
            li
                a(href="./opinions.html") Opinions
            li
                a(href="./student-works.html") Student works
            li
                a(href="./teacher-areas.html") Teacher areas
            li
                a(href="./course-opinions.html") Course opinions
            li
                a(href="./photos.html") Photos
            li
                a(href="./teacher-courses.html") Teacher courses
            li
                a(href="./users.html") Users
            li
                a(href="./teachers.html") Teachers
            li
                a(href="./course-photos.html") Course photos
            li
                a(href="./phrases.html") Phrases