.sidebar-container
    .sidebar-nav
        ul.nav
            li
                a.active Areas
            li
                a Courses
            li
                a Blogs
            li
                a Route courses
            li
                a Events edition
            li
                a Routes
            li
                a Spaces
            li
                a Events
            li
                a Courses edition
            li
                a Opinions
            li
                a Student works
            li
                a Teacher areas
            li
                a Course opinions
            li
                a Photos
            li
                a Teacher courses
            li
                a Users
            li
                a Teachers
            li
                a Course photos
            li
                a Phrases