doctype html
html
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        link(rel="stylesheet" href="css/main.css")
        block head_end

    body
        .body-container
            include ../_partials/main-content/header
            include ../_partials/main-content/sidebar-left
            block content

        script(type="text/javascript", src="js/jQuery.min.js")
        script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(type="text/javascript", src="js/multiselect.min.js")
        script(type="text/javascript", src="js/jquery.nestable.js")
        script(type="text/javascript", src="js/dropzone.js")
        // script(type="text/javascript", src="js/bootstrap3-wysihtml5.js")
        script(type="text/javascript", src="js/bootstrap3-wysihtml5.all.js")
        script.
            $(document).ready(function() {
                var json = [
                    {
                        "id": 1,
                        "content": "Introducción",
                        "value": "Introducción"
                    },
                    {
                        "id": 2,
                        "content": "Tema 1",
                        "value": "Tema 1",
                        "children": [
                            {
                                "id": 3,
                                "content": "Principios básicos",
                                "value": "Principios básicos"
                            },
                            {
                                "id": 4,
                                "content": "Programación en C",
                                "value": "Programación en C"
                            },
                            {
                                "id": 5,
                                "content": "Programación en Java",
                                "value": "Programación en Java",
                                "foo": "Bar",
                                "children": [
                                    {
                                        "id": 6,
                                        "content": "Bucles",
                                        "value": "Bucles"
                                    },
                                    {
                                        "id": 7,
                                        "content": "Normal",
                                        "value": "Normal"
                                    }
                                ]
                            }
                        ]
                    }
                ];
                var lastId = 7;

                var updateOutput = function(e) {
                    if(window.JSON) {
                        $('#temary').val(window.JSON.stringify($('#fic-nestable').nestable('serialize')));
                    } else {
                        output.val('JSON browser support required for this demo.');
                    }
                };

                $('#fic-nestable').nestable({
                    group: 1,
                    json: json,
                    contentCallback: function(item) {
                        var content = item.content || '' ? item.content : item.id;
                        return content;
                    }
                }).on('change', updateOutput);

                $('#appendNestable').on('click', function(e) {
                    var newItem = {
                        "id": ++lastId,
                        "content": $('#textNestable').val(),
                        "value": $('#textNestable').val()
                    };
                    $('#fic-nestable').nestable('add', newItem);
                    updateOutput();
                });
            });
        script.
            jQuery(document).ready(function($) {
                $('.fic-multiselect-from').multiselect({
                    right: '#fic-multiselect-to',
                    rightAll: '#fic-right-all',
                    rightSelected: '#fic-right-selected',
                    leftSelected: '#fic-left-selected',
                    leftAll: '#fic-left-all'
                });
            });
        script.
            $('#fic-textarea').wysihtml5({
                "font-styles": true,
                "emphasis": true,
                "lists": true,
                "html": false,
                "link": false,
                "image": true,
                "color": true,
                "blockquote": true
            });
        block body_end