doctype html
html
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        link(rel="stylesheet" href="css/main.css")
        block head_end

    body
        .body-container
            include ../_partials/main-content/header
            include ../_partials/main-content/sidebar-left
            block content

        script(type="text/javascript", src="js/jQuery.min.js")
        script(type="text/javascript", src="js/multiselect.min.js")
        script.
            jQuery(document).ready(function($) {
                console.log('Hey');
                $('.fic-multiselect-from').multiselect({
                    right: '#fic-multiselect-to',
                    rightAll: '#fic-right-all',
                    rightSelected: '#fic-right-selected',
                    leftSelected: '#fic-left-selected',
                    leftAll: '#fic-left-all'
                });
            });
        block body_end