.form-wrapper
    .panel.panel-default.fic-panel
        .panel-body
            .row
                .col-lg-12
                    h1.page-header Editar curso
            .row
                .col-lg-12
                    .panel
                        .row
                            .col-lg-12
                                form(role="form")
                                    .form-group.col-xs-12.fic-form-group
                                        label(for="titulo") Título
                                        input#titulo.form-control(placeholder="Título")
                                    .form-group.col-xs-12.fic-form-group
                                        label(for="slug") Slug
                                        input#slug.form-control(placeholder="Slug", disabled)
                                    .form-group.col-xs-12.fic-form-group.has-error
                                        label(for="subtitulo") Subtítulo
                                        input#subtitulo.form-control
                                    .form-group.col-xs-12.fic-form-group
                                        label(for="objetivos") Objetivos
                                        textarea#objetivos.form-control(rows="3")
                                    .form-group
                                        label Colores
                                        .checkbox
                                            label
                                                input(type="checkbox", value="rojo")
                                                | Rojo
                                        .checkbox
                                            label
                                                input(type="checkbox", value="amarillo")
                                                | Amarillo
                                        .checkbox
                                            label
                                                input(type="checkbox", value="verde")
                                                | Verde
                                    .form-group
                                        label Años
                                        .radio
                                            label
                                                input(type="radio", value="1")
                                                | 1
                                        .radio
                                            label
                                                input(type="radio", value="2")
                                                | 2
                                        .radio
                                            label
                                                input(type="radio", value="3")
                                                | 3
                                    .form-group.col-xs-12.fic-form-group
                                        label(for="imagen") Imagen
                                        input#imagen(type="file")
                                    .form-group.col-xs-12.fic-form-group
                                        label Profesores
                                        select.form-control
                                            option Juan
                                            option José
                                            option Julio
                                    .form-group.col-xs-12.fic-form-group
                                        label Profesores
                                        select.form-control(multiple)
                                            option Pedro
                                            option Paco
                                            option Patricio
                                            option Peluca
                                            option Patachula
                                    .form-group.col-xs-12.fic-form-group
                                        select.col-xs-4(size="9", multiple)
                                            option Juan
                                            option José
                                            option Julio
                                        .panel-buttons.col-xs-1
                                            input.btn.btn-primary.mr(type="button", value="<")
                                            input.btn.btn-primary.mr(type="button", value=">")
                                            input.btn.btn-primary.mr(type="button", value="<<")
                                            input.btn.btn-primary.mr(type="button", value=">>")
                                        select.col-xs-4(size="9", multiple)
                                            option Pedro
                                            option Paco
                                            option Patricio
                                            option Peluca
                                            option Patachula
                                    .form-group.col-xs-12.fic-form-group.buttons-group
                                        button.btn.btn-primary(type="submit") Guardar
                                        button.btn.btn-default(type="reset") Limpiar