.form-wrapper
    .panel.panel-default.fic-panel
        .panel-body
            .row
                .col-lg-12
                    h1.page-header Editar curso
            .row
                .col-lg-12
                    .panel
                        .row
                            .col-lg-12
                                form(role="form")
                                    .form-group.col-xs-12.fic-form-group
                                        label Título
                                        input.form-control
                                    .form-group.col-xs-12.fic-form-group
                                        label Slug
                                        input.form-control
                                    .form-group.col-xs-12.fic-form-group
                                        label Subtítulo
                                        input.form-control
                                    .form-group.col-xs-12.fic-form-group
                                        label Objetivos
                                        input.form-control
                                    .form-group.col-xs-12.fic-form-group
                                        label Precio
                                        input.form-control(type="number")
                                    .form-group.col-xs-12.fic-form-group
                                        label Imagen
                                        input.form-control(type="file")