.form-wrapper
    .panel.panel-default.fic-panel
        .panel-body
            .row
                .col-lg-12
                    h1.page-header Editar curso
            .row
                .col-lg-12
                    .panel
                        .row
                            .col-lg-12
                                form(role="form")
                                    .form-group.col-xs-12.fic-form-group
                                        label(for="titulo") Título
                                        input#titulo.form-control(placeholder="Título")
                                    .form-group.col-xs-12.fic-form-group
                                        label(for="slug") Slug
                                        input#slug.form-control(placeholder="Slug", disabled)
                                    .form-group.col-xs-12.fic-form-group.has-error
                                        label(for="subtitulo") Subtítulo
                                        input#subtitulo.form-control
                                    .form-group.col-xs-12.fic-form-group
                                        label(for="fic-textarea") Objetivos
                                        textarea#fic-textarea(placeholder="Enter text", style="width: 700px;")
                                    .form-group
                                        label Colores
                                        .checkbox
                                            label
                                                input(type="checkbox", value="rojo")
                                                | Rojo
                                        .checkbox
                                            label
                                                input(type="checkbox", value="amarillo")
                                                | Amarillo
                                        .checkbox
                                            label
                                                input(type="checkbox", value="verde")
                                                | Verde
                                    .form-group
                                        label Años
                                        .radio
                                            label
                                                input(type="radio", value="1")
                                                | 1
                                        .radio
                                            label
                                                input(type="radio", value="2")
                                                | 2
                                        .radio
                                            label
                                                input(type="radio", value="3")
                                                | 3
                                    .form-group.col-xs-12.fic-form-group
                                        label(for="imagen") Imagen
                                        input#imagen(type="file")
                                    .form-group.col-xs-12.fic-form-group
                                        label Profesores
                                        select.form-control
                                            option Juan
                                            option José
                                            option Julio
                                    .form-group.col-xs-12.fic-form-group
                                        label Profesores
                                        select.form-control(multiple)
                                            option Pedro
                                            option Paco
                                            option Patricio
                                            option Peluca
                                            option Patachula
                                    .form-group.col-xs-12.fic-form-group
                                        select.col-xs-4.fic-multiselect-from(name="from[]", size="9", multiple)
                                            option Juan
                                            option José
                                            option Julio
                                            option Pedro
                                            option Paco
                                            option Patricio
                                            option Peluca
                                            option Patachula
                                        .panel-buttons.col-xs-1
                                            input#fic-right-selected.btn.btn-primary.mr(type="button", value=">")
                                            input#fic-left-selected.btn.btn-primary.mr(type="button", value="<")
                                            input#fic-right-all.btn.btn-primary.mr(type="button", value=">>")
                                            input#fic-left-all.btn.btn-primary.mr(type="button", value="<<")
                                        select#fic-multiselect-to.col-xs-4(name="to[]", size="9", multiple)
                                    .form-group.col-xs-12.fic-form-group.buttons-group
                                        button.btn.btn-primary(type="submit") Guardar
                                        button.btn.btn-default(type="reset") Limpiar
                                .nestable-edition
                                    .dd
                                        ol.dd-list
                                            li.dd-item(data-id="1")
                                                .dd-handle Introducción
                                            li.dd-item(data-id="2")
                                                .dd-handle Tema 1
                                                ol.dd-list
                                                    li.dd-item(data-id="3")
                                                        .dd-handle Principios básicos
                                                    li.dd-item(data-id="4")
                                                        .dd-handle Programación en C
                                                    li.dd-item(data-id="5")
                                                        .dd-handle Programación en Java
                                                        ol.dd-list
                                                            li.dd-item(data-id="6")
                                                                .dd-handle Bucles
                                                                ol.dd-list
                                                                    li.dd-item(data-id="7")
                                                                        .dd-handle Normal
                                                                    li.dd-item(data-id="8")
                                                                        .dd-handle Extendido
                                                            li.dd-item(data-id="9")
                                                                .dd-handle While
                                                            li.dd-item(data-id="10")
                                                                .dd-handle Foreach
                        .row
                            .col-lg-12
                                label(for="file") Imagen
                                form.dropzone(action="/file-upload")
                                    .fallback
                                        input#file(type="file", name="file", multiple)