.form-wrapper
    .row
        .col-lg-12
            .panel.panel-default
                .panel-heading Form Elements
                .panel-body
                    .row
                        .col-lg-12
                            form(role="form")
                                .form-group.col-lg-4
                                    label Title
                                    input.form-control
                                .form-group.col-lg-4
                                    label Slug
                                    input.form-control
                                .form-group.col-lg-4
                                    label Subtitle
                                    input.form-control
                                .form-group.col-lg-4
                                    label Targets
                                    input.form-control
                                .form-group.col-lg-4
                                    label Price
                                    input.form-control(type="number")
                                .form-group.col-lg-4
                                    label Image
                                    input.form-control(type="file")
            .panel.panel-default
                .panel-heading Form Relations
                .panel-body