.form-wrapper
    .panel.panel-default.fic-panel
        .panel-body
            .row
                .col-lg-12
                    h1.page-header Ver curso
            .row
                .col-lg-12
                    .panel
                        .row
                            .col-lg-12
                                .col-xs-12.fic-group
                                    h4 Máster en Visualización interactiva de arquitectura con Unreal Engine
                                .col-xs-12.fic-group
                                    h4 master-en-visualizacion-interactiva-de-arquitectura-con-unreal-engine