.form-wrapper
    .panel.panel-default.fic-panel
        .panel-body
            .row
                .col-lg-12
                    h1.page-header Ver curso
            .row
                .col-lg-12
                    .panel
                        .row
                            .col-lg-12
                                .col-xs-12.fic-group
                                    h4 Máster en Visualización interactiva de arquitectura con Unreal Engine
                                .col-xs-12.fic-group
                                    p En el mundo de la visualización de arquitectura que siempre tratamos de lograr un resultado cercano a la realidad para ofrecer a nuestros clientes la sensación de ver el proyecto terminado.
            .row
                .col-lg-12
                    h3.page-header Opiniones del curso
            .row
                .col-lg-12
                    .panel
                        .panel-body
                            .dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                                .row
                                    .col-sm-8.show-values
                                        .dataTables_length
                                            label(for="number-entries") Mostrar
                                            select#number-entries.form-control.input-sm()
                                                option(value="10") 10
                                                option(value="25") 25
                                                option(value="50") 50
                                                option(value="100") 100
                                            | entradas
                                    .col-sm-2.search-filter
                                        .dataTables_filter
                                            label(for="search") Buscar:
                                            input#search.form-control.input-sm(type="search")
                                    .col-sm-2.add-item
                                        a.btn.btn-primary(href="./course.html") Añadir opinión del curso
                                .row
                                    .col-sm-12
                                        table.table.table-striped.table-bordered.table-hover.dataTable.no-footer.dtr-inline
                                            thead
                                                tr(role="row")
                                                    th.sorting_asc Nombre
                                                    th.sorting Posición
                                                    th.sorting Texto
                                                    th.sorting Negocio
                                                    th
                                            tbody
                                                tr.odd
                                                    td Javier Luján
                                                    td Fictizia impartió un curso a medida a nuestro Departamento de producción y arte final en Contrapunto BBDO y, después de tantos años trabajando en esto, puedo decir que ojalá todos los centros de formación ofrecieran lo mismo y de la misma manera que Fictizia. El trato, la atención personal a la hora de elaborar el temario en función de lo que necesitábamos y los profesores que son unos cracks y están al día en todo, hacen que sólo les pueda poner un 10.
                                                    td Director de producción
                                                    td Contrapunto BBDO
                                                    td.icons-container
                                                        a.edit-link(href="./course.html")
                                                            span.glyphicon.glyphicon-edit
                                                        a.remove-link
                                                            span.glyphicon.glyphicon-trash
                                                        a.view-link(href="./view-course.html")
                                                            span.glyphicon.glyphicon-eye-open
                                                tr.even
                                                    td Mario Arcos
                                                    td Estuvimos buscando un curso de iniciación en el mundo On-line para el departamento de Creación y Estudio OFF en Ogilvy-One. Y Fictizia fue la única escuela que supo contestar a todas nuestras necesidades. Un curso a medida en función del cargo y conocimientos de cada uno, trato personalizado, y sobretodo la predisposición de los profes para inculcarnos siempre las ganas de hacer trabajos diferentes e innovadores. Tanto es así que ya hemos lanzado nuestros primeros proyectos on-line reales. Fictizia es una Escuela 100% recomendable!!
                                                    td Director de arte
                                                    td Ogilvy One
                                                    td.icons-container
                                                        a.edit-link(href="./course.html")
                                                            span.glyphicon.glyphicon-edit
                                                        a.remove-link
                                                            span.glyphicon.glyphicon-trash
                                                        a.view-link(href="./view-course.html")
                                                            span.glyphicon.glyphicon-eye-open
                                .row
                                    .col-sm-6.show-values
                                        .dataTables_info Mostrando 1 de 10 de 15 entradas
                                    .col-sm-6.pagination-numbers
                                        .dataTables_paginate.paging_simple_numbers
                                            ul.pagination
                                                li.paginate_button.previous.disabled
                                                    a Anterior
                                                li.paginate_button.active
                                                    a 1
                                                li.paginate_button
                                                    a 2
                                                li.paginate_button
                                                    a 3
                                                li.paginate_button
                                                    a 4
                                                li.paginate_button
                                                    a Siguiente