body
    color: #555
    background-color: white
    margin: 0

a
    color: inherit !important
    text-decoration: none !important
    box-sizing: inherit !important
    cursor: pointer !important
    width: 100% !important

*:before
    box-sizing: border-box